body{
		display: grid;
		grid-template-rows: 4% 6% 86% 4%;
		margin: 0px;
}

	.foot{
		background-color:#0a0369;
		color:white;
		margin: 0px;
		padding: 0px;
		border: 0px;
}

	.head{
		background-color:yellow;
		margin:0px;
		place-items: center;
}

.wrapper {overflow: auto;}

#main {margin-left: 4px;}

#leftsidebar {
  float: none;
  width: auto;
}

#menulist {
  margin: 0;
  padding: 0;
}
a{
    text-decoration:none;

}
.menuitem {
  background: #CDF0F6;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  list-style-type: none;
  margin: 4px;
  padding: 2px;
  text-align:center;
}

@media screen and (min-width: 480px) {
  #leftsidebar {width: 200px; float: left;}
  #main {margin-left: 216px;}
}
button{
	color: #0099CC; 
	background: #cae3fa; 
	border: 2px solid #0099CC; 
	border-radius: 20px;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	color: black;
	padding: 11px 11px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}


#btn1{
padding:5px;
background-image:linear-gradient(to right,#027ced,#bef3f7);
color:white;
}

#btn1:hover{
background-image:linear-gradient(to left,#027ced,#bef3f7);
color:black;
border: dashed green;
}

